{% extends "Appcoder/padre.html" %}

    {% load static %}

{% block contenido %}

<h1>Listado de vehiculos</h1>
<ul>
    {% for vehiculo in taller_list %}


        <p>Vehiculo: {{taller.vehiculo}}</p>
        <p>
            <a href="{% url 'DetalleVeh' vehiculo.id %}"> <button type="button">Ver</button> </a>
            <a href="{% url 'UpdateVeh' vehiculo.id %}"> <button type="button">Editar</button> </a>
            <a href="{% url 'DeleteVeh' vehiculo.id %}"> <button type="button">Borrar</button> </a>
        </p>

    {% endfor %}
</ul>

{% endblock %}